@import "./lib/lib.css";

/* variables */
:root {

    --itemIcon: url("./img/folderClosed24.png");
    --itemOpenIcon: url("./img/folderOpened24.png");

}

/* Grid container  */
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 3px;
  
    border-style: solid;
    border-color: var(--keycolor);
    border-width: 1px;
    border-radius: 5px;
  
    height: 100vh;
}
