@import "./lib/lib.css";



/* variables */
:root {

    --itemIcon: url("./img/folderClosed24.png");
    --itemOpenIcon: url("./img/folderOpened24.png");

}

li {


    margin-left: 15px;



}

.nested {
    display: none;
  }
  
  .active {
    display: block;
  }
  


/* Grid container  */
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 3px;
  
    border-style: solid;
    border-color: var(--keycolor);
    border-width: 1px;
    border-radius: 5px;
  
    height: 100vh;
}

  .treeContainer{
    grid-row: span 6;
    display: grid;
  }

  .treeRoot{
   margin-left: 10px;
   color: aquamarine;
  }


  .item{
    display: flex;
    align-items: center;
    margin-left: 5px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    user-select: none;
   }

   .item::before {
    content: var(--itemIcon);
    display: inline-block;
    margin-right: 6px;
  }

  .item-clicked::before {content: var(--itemOpenIcon);}