@import url('https://fonts.googleapis.com/css2?family=Armata&family=Roboto&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');
@import "./lib/lib.css";

/* variables */
:root {

    font-size: 24px;

    --MicrosoftIcon: url("./img/microsoft36.png");
    --GoogleIcon: url("./img/google24.png");
    --OneDriveIcon: url("./img/onedrive24.png");
    --indexIcon: url("./img/index24.png");
    --AzureIcon: url("./img/azure24.png");
    --GitHubIcon: url("./img/github48.png");
    --GraftIcon: url("./img/graph48.png");

}


/* Grid container  */
.container{
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: .5fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 3px;
  
    border-style: solid;
    border-color: var(--keycolor);
    border-width: 1px;
    border-radius: 5px;
  
    height: 100vh;
}

.treeContainer{
    grid-row-start: 2;
    grid-row-end: 7;
    grid-column: 1;
    display: grid;
    overflow: auto;

  }

  .treeRoot{
    margin-left: 10px;
    color: wheat;
    font-size: 1em;
   }
 

.videoContainer{
    background-color: rgb(16, 16, 90);
    grid-row-start: 2;
    grid-row-end: 7;
    /* grid-row: span 2; */
    grid-column: span 5;
    display: grid;
    align-items: center;
    justify-content: center;
  }

  .nested {
    display: none;
  }
  
  .active {
    display: block;
  }

  li {list-style: none;}

  .Google::before {
    content: var(--GoogleIcon);
    padding-right: 2px;
   }

  .Microsoft::before {
    content: var(--MicrosoftIcon);
    padding-right: 2px;
  }

  .OneDrive::before {
    content: var(--OneDriveIcon);
    padding-right: 2px;
  }

  .Azure::before {
    content: var(--AzureIcon);
    padding-right: 2px;
  }

  .GitHub::before {
    content: var(--GitHubIcon);
    padding-right: 2px;
  }

  .Graph::before {
    content: var(--GraftIcon);
    padding-right: 2px;
  }

  .topic{
    display: flex;
    align-items: center;
    margin-left: 5px;
    font-size: 1rem;
    color: rgb(96, 130, 185);
    cursor: pointer;
    user-select: none;
   }

   .title{
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-size: .8rem;
    color: rgb(33, 169, 187);
    cursor: pointer;
    user-select: none;
   }

  .video {

    width: 100%;
    height: 100%;

  }


  .title:hover {

    color:yellow;
    cursor: pointer;
  }



  .desc {
    display: flex;
    align-items: center;
    font-size: .6rem;
    color:sandybrown;
    margin-left: 20px;
    /* padding-bottom: 2px; */
  }


  .timeInfo{display: flex;}

  
  .time {
    font-size: 1em;
    color:yellow;
    margin-left: 20px;
  }

  .index {
    display: flex;
    align-items: center;
    font-size: .6rem;
    color:wheat;
    margin-left: 25px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 2px;
  }




  .index:hover {

    color:white;
    cursor: pointer;

  }

  .index:before {
    content: var(--indexIcon);
    padding-right: 2px;
  }

  /* .linksContainer{
    grid-row: 1;
    grid-column-start: 2;
    grid-column-end: 7;

  } */



  .link1Box {
    display: flex;
    align-items: center;
    grid-row: 1;
    grid-column: 3;

  }

  .link2Box {
    display: flex;
    align-items: center;
    grid-row: 1;
    grid-column: 4;

  }

  .link3Box {
    display: flex;
    align-items: center;
    grid-row: 1;
    grid-column: 5;

  }

  .link4Box {
    display: flex;
    align-items: center;
    grid-row: 1;
    grid-column: 6;

  }
    